
<center><div class="ipAddress">

    <h3> Geolocation for your IP Address: {{ipDirController.data.ip}} </h3>
      <p1> @ {{ipDirController.data.latitude}} latitude, {{ipDirController.data.longitude}} longitude </p>
  <div>
    <button type="button" class="btn btn btn-success"> Your current city: {{ipDirController.data.city}}</button>
    <button type="button" class="btn btn btn-success">Your current state/region: {{ipDirController.data.region_name}}</button>
    <button type="button" class="btn btn btn-success">Your current area code: {{ipDirController.data.zip_code}}</button>
    <button type="button" class="btn btn btn-success">Your current country: {{ipDirController.data.country_code}}</button>
  </div>
</div></center>
