p {
  padding: 20px;
}

p1{
  color: white;
}

h1, h3 {
  color: white;
}

.btn {
display: block;
font: white;
width: 300px;
}

div {
  padding: 10px;
}

#modalBtn {
  background-color: #3081FF;
  color: white;
  text-align: center;
  padding: 20px;
}

body {
  background-color: #f0ad4e;
}

footer {
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 0px;
  position:fixed;
  bottom:0;
  width:100%;
  /*position: fixed;*/
}
