p {
  padding: 20px;
}

p1{
  color: white;
}

h1, h3 {
  color: white;
}

.btn {
display: inline-block;
font: white;
}

div {
  padding: 20px;
}

#modalBtn {
  background-color: #3081FF;
  color: white;
  text-align: center;
  padding: 20px;
}

body {
  background-color: #f0ad4e;
}
